<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="row  section section-border">
        <div class="col">
          <div class="h-card">
            <h1>
              <a class="p-name u-url" href="https://natelaclaire.dev/">
                Nate LaClaire
              </a> 
              (<a class="u-url" href="https://twitter.com/natelaclaire">
                @NateLaClaire
              </a>)
            </h1>
            <p class="p-adr h-adr">
              <span class="p-street-address">60 Western Avenue</span> 
              <span class="p-extended-address">Suite 3</span><br>
              <span class="p-locality">Augusta</span>, 
              <span class="p-region">Maine</span> 
              <span class="p-postal-code">04330</span>
            </p>
            <p class="p-tel">+1 (207) 619-4001</p>
            <p>nate-&#91;at]-na&#116;&#101;laclair&#101;&#46;&#99;&#111;&#109;</p>
          </div>
          
          <h2>Career</h2>
        
          <div class="jd" *ngFor="let item of positions | async">
            <div class="row">
              <div class="col-sm">
                <h4><b>{{ item.position }}</b></h4>
              </div>
              <div class="col-sm text-right">
                {{ item.dates }}<br />
                  <a *ngIf="item.companyLink" href="{{item.companyLink}}" target="_blank">{{item.company}}</a><span *ngIf="!item.companyLink">{{item.company}}</span>&nbsp;<i>({{item.location}})</i>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <p>{{ item.summary }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">

                <div *ngIf="item.accomplishments">
                  <b>Selected accomplishments:</b>
                  <ul>
                    <li *ngFor="let accomplishment of item.accomplishments">{{accomplishment}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>