<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="row  section section-border">
        <div class="col">
          <h2>Career</h2>
        
          <div class="jd" *ngFor="let item of positions | async">
            <div class="row">
              <div class="col-sm">
                <h4><b>{{ item.position }}</b></h4>
              </div>
              <div class="col-sm text-right">
                {{ item.dates }}<br />
                  <a *ngIf="item.companyLink" href="{{item.companyLink}}" target="_blank">{{item.company}}</a><span *ngIf="!item.companyLink">{{item.company}}</span>&nbsp;<i>({{item.location}})</i>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <p>{{ item.summary }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">

                <div *ngIf="item.accomplishments">
                  <b>Selected accomplishments:</b>
                  <ul>
                    <li *ngFor="let accomplishment of item.accomplishments">{{accomplishment}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>