<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>About Me</h1>
      <p>My passion is to use Web and Extended Reality technologies to improve lives. An entrepreneur, software engineer, church pianist, and aspiring data scientist, I utilize my skills serving college students and faculty by day, and small businesses and Christian ministries needing websites and web applications by night. When not sitting in front of a computer, I enjoy spending time with my family and friends, reading, hiking, traveling, and watching movies. I, with my two sisters, was homeschooled from birth to graduation from high school. I believe that the best education is that received while living life – not in a class room.</p>
    </div>
  </div>
</div>