<div class="container-fluid">
  <div class="row">
    <div class="col">

      <div class="container">
        <div class="row mt-5">
          <div class="col">
            <img src="{{data.profilePictureUrl}}" id="profilePicture" />
            <h1 class="display-4 text-center">Nate LaClaire</h1>
            <p class="lead text-center">Full-Stack Web, Mobile, and VR Developer; Amateur Lion Chaser; <a href="https://umalibguides.uma.edu/collab" target="_blank">Makerspace</a> Manager.</p>
          </div>
        </div>
      </div>



      <div>
        <h2>Recent photos</h2>
        <div class="recentPhotos">
          <span class="recentPhoto" *ngFor="let currentPhoto of photos | async"
            [ngStyle]="{'background-image': 'url(\'' + currentPhoto.url + '\')'}"
            onclick="window.open('https://instagram.com/natelaclaire', '_blank');">

          </span>
        </div>

        <div class="container">
          <h2 class="text-center mt-5">
            Links of the Day
          </h2>
          <div class="row mt-5">
            <div class="col" *ngFor="let currentLink of links | async">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{currentLink.url}}"
                    target="_blank">{{currentLink.title}}</a></h5>
                </div>
              </div>
            </div>
          <div *ngFor="let currentMacros of macros | async">
            <h2 class="text-center mt-5">
              Nate's macros for {{currentMacros.date.toDate() | amDateFormat:'LL'}}
            </h2>
            <div class="row">
              <div class="col">
                <h3 class="text-center">Protein:</h3>
                <p class="h1 text-center">{{currentMacros.protein}}g</p>
              </div>
              <div class="col">
                <h3 class="text-center">Fats:</h3>
                <p class="h1 text-center">{{currentMacros.fats}}g</p>
              </div>
              <div class="col">
                <h3 class="text-center">Carbohydrates:</h3>
                <p class="h1 text-center">{{currentMacros.carbs}}g</p>
              </div>
            </div>
            <h2 class="text-center mt-5">
              Nate's stats for {{currentMacros.date.toDate() | amDateFormat:'LL'}}
            </h2>
            <div class="row">
              <div class="col">
                <h3 class="text-center">Sleep:</h3>
                <p class="h1 text-center">{{currentMacros.sleep}}<br><small class="text-muted">hours</small></p>
              </div>
              <div class="col">
                <h3 class="text-center">Calories:</h3>
                <p class="h1 text-center">{{currentMacros.calories}}</p>
              </div>
              <div class="col">
                <h3 class="text-center">Water:</h3>
                <p class="h1 text-center">{{currentMacros.water}}<br><small class="text-muted">ounces</small></p>
              </div>
              <div class="col">
                <h3 class="text-center">Weight:</h3>
                <p class="h1 text-center">{{currentMacros.weight}}<br><small class="text-muted">pounds</small></p>
              </div>
              <div class="col">
                <h3 class="text-center">Waist:</h3>
                <p class="h1 text-center">{{currentMacros.waist}}<br><small class="text-muted">inches</small></p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col">
              <h2 class="text-center" *ngFor="let currentMood of moods | async">
                Nate feels <b>{{currentMood.mood | moodDisplay}} </b>
                <span class="footnote">({{currentMood.time.toDate() | amTimeAgo}})</span>
              </h2>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col" *ngFor="let currentCommit of commits | async">
              <div class="card">
                <h5 class="card-header">Code commit
                  {{currentCommit.timestamp.toDate() | amTimeAgo}}</h5>
                <div class="card-body">
                  <h5 class="card-title">{{currentCommit.message}}</h5>
                  <p class="card-text">on GitHub repo <a href="https://github.com/{{currentCommit.repo}}"
                      target="_blank">{{currentCommit.repo}}</a></p>
                  <a href="{{currentCommit.link}}" class="btn btn-primary">View Commit</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
