<div class="container-fluid">
  <div class="row">
    <div class="col">

      <div class="container">
        <div class="row mt-5">
          <div class="col">
            <img src="{{data.profilePictureUrl}}" id="profilePicture" />
            <h1 class="display-4 text-center">Nate LaClaire</h1>
            <p class="lead text-center">A little about me...</p>
          </div>
        </div>
      </div>


      <div class="container" *ngIf="data.loading">
        <div class="row mt-5">
          <div class="col">
              <p class="lead text-center"><strong>Gathering additional information. Please be patient&hellip; ⏰</strong></p>
          </div>
        </div>
      </div>
      <div *ngIf="!data.loading">
        <h2>Recent photos</h2>
        <div class="recentPhotos">
          <span class="recentPhoto" *ngFor="let currentPhoto of photos | async"
            [ngStyle]="{'background-image': 'url(\'' + currentPhoto.url + '\')'}"
            onclick="window.open('https://instagram.com/natelaclaire', '_blank');">

          </span>
        </div>

        <div class="container">
          <div class="row mt-5">
            <div class="col">
              <h2 class="text-center" *ngFor="let currentMood of moods | async">
                Nate feels <b>{{currentMood.mood | moodDisplay}} </b> 
                <span class="footnote">({{currentMood.time.toDate() | amTimeAgo}})</span>
              </h2>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col" *ngFor="let currentCommit of data.recentCommits">
              <div class="card">
                <h5 class="card-header">Code commit
                  {{currentCommit.timestamp | amTimeAgo}}</h5>
                <div class="card-body">
                  <h5 class="card-title">{{currentCommit.message}}</h5>
                  <p class="card-text">on GitHub repo <a href="https://github.com/{{currentCommit.repo}}"
                      target="_blank">{{currentCommit.repo}}</a></p>
                  <a href="{{currentCommit.link}}" class="btn btn-primary">View Commit</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>