

#profilePicture {
    width: 128px;
    height: 128px;
    border-radius: 70px;
    border: 5px white solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:50px;
  }

  .recentPhotos {
    width: 100%;
    white-space: nowrap;
    overflow-y: none;
    overflow-x: scroll;
    height: 310px;
  }
  .recentPhotos > .recentPhoto {
    height: 300px;
    width: 300px;
    border: 1px solid #DDD;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    cursor: pointer;
  }

  @media all and (max-width:720px) {
    /* Mobile Device */
    .hideOnMobile {
      display: none; 
    }
    .recentPhotos {
      height: 150px;
    }
    .recentPhotos > .recentPhoto {
      height: 140px;
      width: 140px;
    }
  }